{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Sitter</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-purple-300">
    <nav class="flex bg-purple-800 gap-2 p-4 items-center text-white">
        <div>
            <a href="/home" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                <img src="{% static "home_app/images/daystar_logo_2.jpg" %}" class="h-8 rounded-lg" alt="Daystar_Daycare_Logo">
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Daystar Daycare</span>
            </a>
            <div class="justify-end">
                <a href="/home" class="px-1">Home</a>
                <a href="/baby" class="px-1">Babies</a>
                <a href="/sitter" class="text-pink-300 px-1">Sitters</a>
                <a href="/abouts" class="px-1">About</a>
                <a href="/contacts" class="px-1">Contact</a> 
            </div>
        </div>   
    </nav>    
    <h1>Edit Sitter</h1>
    <p>This is the editsitter page</p>
    <form action="{% url "editsitter" sitter_id %}" method="POST" class="max-w-sm mx-auto py-5">
        {% csrf_token %}
        {{ form }} 
       <input type="submit" value="Update Sitter">  

        {% comment %} <div class="mb-5 {% if form_field.errors %}errors{% endif %}">
            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Full Name</label>
            <input type="text" name="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
        </div>
        <div class="mb-5 {% if form_field.errors %}errors{% endif %}">
            <label for="location" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Location</label>
            <input type="text" name="location" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
        </div>
        <div class="mb-5 {% if form_field.errors %}errors{% endif %}">
            <label for="dob" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">D.O.B</label>
            <input type="date" name="dob" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
        </div>
        <div class="mb-5 {% if form_field.errors %}errors{% endif %}">
            <label for="gender" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Gender</label>
            <label class="inline-flex text-gray-700 items-center mr-4">
                <input type="checkbox" name="gender" value="male" class="text-blue-500" />
                <span class="ml-2">Male</span>
            </label>
            <label class="inline-flex text-gray-700 items-center mr-4">
                <input type="checkbox" name="gender" value="female" class="text-blue-500" />
                <span class="ml-2">Female</span>
            </label>
        </div>
        <div class="mb-5 {% if form_field.errors %}errors{% endif %}">
            <label for="next_kin" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Next of Kin</label>
            <input type="text" name="next_kin" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
        </div>
        <div class="mb-5 {% if form_field.errors %}errors{% endif %}">
            <label for="nin" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">N.I.N</label>
            <input type="number" name="nin" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
        </div>
        <div class="mb-5 {% if form_field.errors %}errors{% endif %}">
            <label for="recomm_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Recommender's Name</label>
            <input type="text" name="recomm_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
        </div>
        <div class="mb-5 {% if form_field.errors %}errors{% endif %}">
            <label for="religion" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Religion</label>
            <input type="text" name="religion" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
        </div>
        <div class="mb-5 {% if form_field.errors %}errors{% endif %}">
            <label for="level_education" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Level of Education</label>
            <input type="text" name="level_education" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
        </div>
        <div class="mb-5 {% if form_field.errors %}errors{% endif %}">
            <label for="contact" class="mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact</label>
            <input type="text" name="contact" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
        </div>
        <button type="submit" class="text-white bg-purple-800 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Update sitter</button>
    </form> {% endcomment %}
</body>
</html>





{% comment %} {% extends "base.html" %}

{% block title %} EditSitter {% endblock %}

{% block content %} {% endcomment %}
{% comment %} <h1>Edit Sitter</h1>
<p>This is the editsitter page</p> {% endcomment %}
{% comment %} {% endblock %} {% endcomment %}